Flask>=2.0.0,<3.0.0
requests>=2.25.0,<3.0.0
python-dotenv>=0.20.0
PyJWT>=2.0.0
Werkzeug>=2.0.0
psycopg2-binary>=2.9.0
google-cloud-storage>=1.30.0
python-json-logger==2.0.7
pydantic[email]>=2.0.0
Flask-Limiter[redis]>=3.0
gunicorn>=20.0.0
aethercast
